.grid {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 16px 0;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.gridItem {
  border: 1px solid red;
  box-sizing: border-box;
  color: rgb(34, 30, 29);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 16px;
  text-align: center;
  text-size-adjust: 100%;
}

section#blogspot .container {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  position: relative;
}

section#blogspot h1{
  background: #ffffff;
  font-weight: 400;
  left: 50%;
  margin:0;
  position: absolute;  
  text-align: center;
  transform: translate(-50%, -60%);
  top: 0;
  width: 50%;
}